{% extends "layouts/layouts.html" %}
{% block title %}

    {{title}}

{% endblock title%}

{% block content %}
<h1>{{title}}</h1>
<p>"Formar profesionistas universitarios y técnicos superiores con pertinencia social y laboral, a través de programas educativos de calidad, vinculados con los sectores productivo y social, con el objetivo de contribuir al desarrollo sostenible y mejorar la calidad de vida de la sociedad."

    Esta misión busca responder a las necesidades del entorno social y económico de Durango y el país, preparando a estudiantes con habilidades prácticas y conocimientos relevantes.</p>

{% endblock content%}